#nav {
    padding: 20px;
}

ul li {
    list-style: none;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f30d19;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

#nav,
#list ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

ul {
    width: 300px;
    /* background-color: #f30d19; */
}

a {
    text-decoration: none;
    color: black;
}
#pin{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    font-size: xx-large;
}