.box{
    width: 30%;
    /* background-color: red; */
}
img{
    width: 60%;
}
.container{

    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 50px;
    text-align: left;
    column-gap: 0px;
}
#title{
    font-size: xx-large;
}
#user{
    font-size: x-large;
}
#text{
    font-size: large;
}
#left{
    /* width: 500px; */
    /* background-color: aqua; */
    margin-left: -100px;
}
@media (max-width: 480px)
{
  .container {
    flex-direction: column;
   
    width: 80%;
    margin-left: 20%;
  }
  #left{
    /* margin-left: 0px; */
    width: fit-content;
    margin: auto;
}
img{
    width: 30%;
}
}